.container {
  width: min(100%, 1440px);
  margin: auto;
}
/*header*/
header {
  width: 100%;
  padding: 52px 98px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  height: 46px;
}

ul {
  display: flex;
  justify-content: space-between;
  width: 393px;
  height: 28px;
}
.active {
  color: #27187f;
  font-size: 24px;
  font-weight: 500;
}
.noactive {
  color: #758bfd;
  font-size: 24px;
  font-weight: 500;
  }

header div {
  border: 3px solid #758bfd;
  border-radius: 10px;
  padding: 12px 8px 12px 182px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header div i {
  font-size: 32px;
  color: #758bfd;
}